:root{
	--text-color:#777777;
	--gradient-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
	--roboto: 'Roboto';
	--title-color: #141313;
	--box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
	--border-color:#0000008c;
	--primary-color:#854fee;
};